* {
    border: 1px solid black;
}
.nav-footer {
    background-color: darkslategray;
    color: beige;
    display: inline-block;
}
.li-footer {
    background-color: darkslategray;
    color: beige;
    display: inline-block;
}
.header-body {
    background-color: lightsteelblue;
    color: white;
    margin: 10px 50 px 10px;
    border: solid;
    border-color: blue;
    border-width: thin;
}
.h1-main-article {
    color: crimson;
    font-size: 30px;
    font-style: normal;
}
.p-main-article {
    color: black;
    text-align: justify;
}
.footer-body{
    justify-self: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: darkslategray;
    border : solid;
    border-color: red;
    border-style: dashed;
    border-width: 0.5px;
}
.main-column {
    column-count: 2;
    column-gap: 100px;
    column-rule-style: solid;
    column-rule-color: rgb(107, 45, 45);
    column-rule-width: 2px;
    column-fill: auto;
}
.main-column p {
    font-size: 18px;
}
.h1-main {
    column-span: all;
    text-align: center;
    background-color: seagreen;
}
.h1-footer {
    inline-size: min-content;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:visited {
    color:purple;
}
.header-body-article {
    background-color: beige;
    border: solid;
    border-color: black;
    border-width: thin;
}
.nav-header {
    border: solid;
    border-color: burlywood;
    border-width: thin;
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    display: inline-block;
}
.li-header {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 18px;
    padding: 0;
    margin: 0 10px 0 0;   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.article-main {
    background-color: darkseagreen;
    border: solid;
    border-color: rgb(151, 64, 64);
    border-width: thin;
}
