* {
    border: 1px solid black;
}
.nav-footer {
    background-color: darkslategray;
    color: beige;
    display: inline-block;
}
.li-footer {
    background-color: darkslategray;
    color: beige;
    display: inline-block;
}
.header-body {
    background-color: lightsteelblue;
    color: white;
    margin: 10px 50 px 10px;
    border: solid;
    border-color: blue;
    border-width: thin;
}
.h1-main-article {
    color: crimson;
    font-size: 30px;
    font-style: normal;
}
.p-main-article {
    color: black;
    text-align: justify;
}

.main-column {
    column-count: 2;
    column-gap: 100px;
    column-rule-style: solid;
    column-rule-color: rgb(107, 45, 45);
    column-rule-width: 2px;
    column-fill: auto;
}
.main-column p {
    font-size: 18px;
}
.h1-main {
    column-span: all;
    text-align: center;
    background-color: seagreen;
}
.h1-footer {
    inline-size: min-content;
    width: fit-content;
}
footer p {
    width: fit-content;
    color: white;
    font-weight: bold;
}
a:hover {
    color: white;
}
.header-body-article {
    background-color: beige;
    border: solid;
    border-color: black;
    border-width: thin;
}
.nav-header {
    border: solid;
    border-color: burlywood;
    border-width: thin;
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    display: inline-block;
}
.li-header {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 18px;
    padding: 0;
    margin: 0 10px 0 0;   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.article-main {
    background-color: darkseagreen;
    border: solid;
    border-color: rgb(151, 64, 64);
    border-width: thin;
}

/* sélectionne les éléments li dans la class ul-footer */
.ul-footer li {
    display: inline-block; /* enlève le retour à la ligne entre les diff éléments */
    background-color: dimgray; /* couleur du background */
    color: white; /* couleur du texte */
    border: 1.8px; /* définit la taille de la bordure */
    border-style: solid; /* définit le style de la bordure */
    border-color: darkred; /* définit la couleur de la bordure */
    border-radius: 5px; /* permet d'arrondir les angles de la bordure */
    padding: 2px 4px; /* padding c'est la place entre le texte et la bordure */
    text-align: center;
}

.ul-footer li:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
}

/* va définir les éléments de ul-footer */
.ul-footer{
    text-align: center; /* les éléments à l'intérieur vont être centrés */
    border: 1px solid lightblue; /* définit une bordure de 1px solide et de couleur lightblue */
    padding: 10; /*20px de padding de tous les côtés */
    background-color: black;
    height: fit-content;
    width: fit-content;
    margin: auto;
}