.nav-footer {
    background-color: darkslategray;
    color: beige;
    display: inline-block;
}
.li-footer {
    background-color: darkslategray;
    color: beige;
    display: inline-block;
}
.header-body {
    background-color: lightsteelblue;
    color: indigo;
    margin: 10px 50 px 10px;
}
.div-header-left {
    left: 0%;
}
.div-header-center {
    left: 50%;
}
.div-header-right{
    right: 0%;
}